.container{
    margin-bottom: 100px;
}
.carousel-bg {
    background-color: #fceae8;
    border-radius: 5px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.watch{
    background-color:#ffa500 ;
    color:#fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.bag{
    background-color: #da70d6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.shoes{
    background-color: #0000ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.img{
    width: 100px;
}
.btn{
    text-decoration: none;
}
.card{
    box-shadow: 5px 5px 10px 10px lightgray;
    border-radius: 10px;
    border:none;
    width: 30%;
}
.card:nth-child(2){
    margin-right: 5%;
    margin-left: 5%;
}
.card-body{
    flex: 1 1 auto;
}
.subscribe{
    background-color: #fceae8;
    border-radius: 10px;
}
.box{
    padding-top: 40px;
    padding-bottom: 40px;
}
.d-block{
    width: 100%;
}
.box h3{
    margin: 0;
}
.box p{
    margin: 0;
}
.box button{
    margin-bottom: 1px;
}
.box input{
    border: none;
    border-radius: 5px;
}
footer{
    text-align: center;
    margin-bottom: 5px !important;
}
html {
    scroll-behavior: smooth;
}