.container{
    margin-bottom: 100px;
}
.carousel-bg {
    background-color: #fceae8;
    border-radius: 5px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.watch{
    background-color:#ffa500 ;
    color:#fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.bag{
    background-color: #da70d6;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.shoes{
    background-color: #0000ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}
.img{
    width: 100px;
}